<launch> 

    <!-- Robot -->
    <arg name="urdf_file" default="$(find xacro)/xacro '$(find scitos_description)/urdf/scitos_x3.xacro'" />

    <param name="robot_description" command="$(arg urdf_file)" />
    
    <group ns="robot">
      <param name="robot_description" command="$(arg urdf_file)" />

      <!-- Joint state publisher to accumulate joints -->
      <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" respawn="true">
        <!-- include the pan/tilt unit joint states -->
      </node>

      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true"/>
    </group>



</launch>
