<?xml version="1.0" ?>
<robot name="scitosA5" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- calibration params -->
  <!-- front laser -->
  <property name="front_laser_scan_trans_x" value="0.1094" />
  <property name="front_laser_scan_trans_y" value="0" />
  <property name="front_laser_scan_trans_z" value="0.3848" />
  <property name="front_laser_scan_rot_x" value="0.0" />
  <property name="front_laser_scan_rot_y" value="0.0" />
  <property name="front_laser_scan_rot_z" value="0.0" />

  <!-- the pan tilt unit -->
  <property name="pan_tilt_base_plate_trans_x" value="-0.075" />
  <property name="pan_tilt_base_plate_trans_y" value="0.0" />
  <property name="pan_tilt_base_plate_trans_z" value="1.5183" />
  <property name="pan_tilt_base_plate_rot_x" value="0.0" />
  <property name="pan_tilt_base_plate_rot_y" value="0.0" />
  <property name="pan_tilt_base_plate_rot_z" value="0.0" />

  <!-- the head_xtion relative to the ptu top mount frame -->
  <property name="head_xtion_trans_x" value="0.015" />
  <property name="head_xtion_trans_y" value="0.0" />
  <property name="head_xtion_trans_z" value="0.03" />
  <property name="head_xtion_rot_x" value="0" />
  <property name="head_xtion_rot_y" value="0.0" />
  <property name="head_xtion_rot_z" value="0.0" />

  <!-- video camera relative to the ptu top mount frame -->
  <property name="head_stereo_trans_x" value="0" />
  <property name="head_stereo_trans_y" value="0" />
  <property name="head_stereo_trans_z" value="0.03" />
  <property name="head_stereo_rot_x" value="3.14" />
  <property name="head_stereo_rot_y" value="0.0" />
  <property name="head_stereo_rot_z" value="0.0" />

</robot>
